body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: #000000;
    color: #C50000;
    text-align: center;
    padding: 20px;
}

#language-selector {
    margin-bottom: 10px;
}

#language-selector select {
    padding: 10px;
    font-size: 16px;
}

#fridays-list {
    list-style-type: none;
    padding: 0;
}

#fridays-list li {
    margin: 20px 0;
}

.halloween-theme {
    background-color: #000000;
    color: #C50000;
    position: relative;
}

#halloween-header {
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 0;
}

#language {
    background-color: #000000;
    color: #C50000;
    border: 1px solid #C50000;
    border-radius: 10px;
    padding: 30px;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 30px;
}

@media(min-width: 768px) {
    .br {
        display: none;
    }

    .height-custom {
        height: 600px;
    }

    #img-1,
    #img-2,
    #img-3,
    #img-4 {
        position: absolute;
    }
}

@media(min-width: 768px) and (max-width: 1199px) {
    #img-1 {
        top: 5%;
        right: 75%;
    }

    #img-2 {
        top: 13%;
        left: 80%;
    }

    #img-3 {
        top: 30%;
        right: 75%;
    }

    #img-4 {
        top: 37%;
        left: 79%;
    }

}

@media(min-width: 1200px) and (max-width: 1799px) {
    #img-1 {
        position: absolute;
        top: 5%;
        right: 65%;
    }

    #img-2 {
        position: absolute;
        top: 13%;
        left: 65%;
    }

    #img-3 {
        position: absolute;
        top: 30%;
        right: 65%;
    }

    #img-4 {
        position: absolute;
        top: 37%;
        left: 65%;
    }

}

@media(min-width: 1800px) {
    #img-1 {
        top: 5%;
        right: 62%;
    }

    #img-2 {
        top: 13%;
        left: 62%;
    }

    #img-3 {
        top: 30%;
        right: 62%;
    }

    #img-4 {
        top: 37%;
        left: 62%;
    }
}


a {
    color: #C50000;
    text-decoration: none;
    font-size: 0.8rem;
}

.height-custom {
    min-height: 500px;
}

@media (max-width: 767px) {
    .height-custom {
        height: 790px;
    }

    #img-1,
    #img-2,
    #img-3 {
        width: 85px;
    }

    #img-1 {
        position: absolute;
        top: 8%;
        left: 0%;
    }

    #img-2 {
        position: absolute;
        top: 17%;
        left: 78%;
    }

    #img-3 {
        position: absolute;
        top: 32%;
        left: 0%;
    }

    #img-4 {
        position: absolute;
        top: 45%;
        left: 73%;
        width: 100px;
    }

}